# Ignore virtual environments
.venv/
venv/

# Streamlit cache
.streamlit/

# System files
.DS_Store
Thumbs.db
__pycache__/

# Ignore admin and database files
app/feedback.db
app/db.py
app/admin_feedback_viewer.py
